#footer_container{
	display: grid;
	grid-template-columns: 10% 1fr 10%;
	grid-template-rows: 16rem 0.125rem 2rem;
	background-color: 202124;
}

#footer_list_container{
	display: grid;
	grid-template-columns: repeat(10 1fr);
	grid-template-rows: 1fr;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

