#nav_container{
	display: grid;
	grid-template-columns: 10% 1fr 1fr 10%;
	grid-template-rows: 4rem auto 4rem;
	background-color: f5f8f9;
}

#nav_message{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

#nav_menu{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end:3;
}

#nav_menu_items{
	display: flex;
	justify-content: flex-end;
	grid-row-start: 2;
	grid-row-end: 3;
	/*grid-gap: 2rem;*/
}

.nav_menu_item{
	border-bottom: 0rem solid #676a6c;
	padding-left: 2rem;
	padding-right: 2rem;
}

.nav_menu_item_url{
	text-decoration: none;
	font-weight:bold;
	color: #202124;
}
