#section_chief_container{
	display: grid;
	grid-template-columns: 10% auto 2.5%  auto 10%;
	grid-template-rows: auto 2rem;
	background-color: f5f8f9;
}

#section_chief_carousel_container{
	background-color: ffffff;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20rem;
	padding: 1rem;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#section_chief_carousel{
	display: grid;
	grid-template-columns: 5% auto 5%;
	grid-template-rows: 1fr 10fr 1fr;
}


