#section_demonstration_container{
	display: grid;
	grid-template-columns: 10% 1fr 10%;
	grid-template-rows: 2rem auto auto 4rem;
	background-color: f5f8f9;
	grid-gap: 0.5rem;
}

#section_demonstration_curve_container{
	display: grid;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-template-columns: 1fr;
	grid-template-rows: 24rem;
	background-color: ffffff;

}

#section_demonstration_curve{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#section_demonstration_piebar_container{
	display: grid;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 32rem;
	grid-gap: 0.5rem;
}

#section_demonstration_pie_container{
	background-color: ffffff;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#section_demonstration_pie{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

/*section_demonstration_bar*/

#section_demonstration_bar_container{
	background-color: ffffff;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#section_demonstration_bar{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}