/*section_chief_carousel*/
#section_chief_container{
	display: grid;
	grid-template-columns: 10% 1fr auto  1fr 10%;
	grid-template-rows: auto;
	background-color: f5f8f9;
	grid-gap: 0.5rem;
}

#section_chief_carousel_container{
	background-color: ffffff;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20rem;
	padding: 0.5rem;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#section_chief_carousel{
	display: grid;
	grid-template-columns: 5% auto 5%;
	grid-template-rows: 1fr 10fr 1fr;
	background-image: url("https://via.placeholder.com/1280x720/81acf5");
	background-size: cover;
}

#section_chief_carousel_controller_left{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

#section_chief_carousel_controller_left_icon{
	padding-top: 8rem;
	padding-left: 1rem;
}

#section_chief_carousel_controller_right{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

#section_chief_carousel_controller_right_icon{
	padding-top: 8rem;
	padding-left: 1rem;
}


/*section_chief_support_container*/
#section_chief_support_container{
	background-color: ffffff;
	display: grid;
	grid-template-columns: 5% 1fr 1fr 5%;
	grid-template-rows: 1fr 0.125rem 2fr;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end:2;
}

#section_chief_support_title_container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#section_chief_support_title{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}


#section_chief_support_button_viewall_container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr 1fr 0.5fr;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

#section_chief_support_button_viewall{
	background-color: rgba(255,255,255,0.2);
	border: 0.2rem solid #e9e9ea;
	border-radius: 0.25rem;
	font-size: 1rem;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

#section_chief_support_dividingline{
	display: block;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: f5f8f9;
}

#section_chief_support_list_container{
	display: grid;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

#section_chief_support_list_time_container{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#section_chief_support_list_username_container{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	
}

#section_chief_support_list_status_container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

#section_chief_support_list_status{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	text-align: right;
}


.section_chief_support_list{
	list-style-type: none;
	margin-top: 2.5rem;
}

.section_chief_support_list_status_mark{
	color: #ffffff;
	width: 5rem;
	height: 2rem;
	background-color: rgba(93,208,84,0.8);
	border: none;
	border-radius: 0.1rem;
	font-size: 1rem;
}